{% extends "layout.html.jinja" %}

{% block middle %}
    <h2>Patryk Popardowski</h2>

    <h2>Uniwersytet Ekonomiczny w Krakowie</h2>

    <h2>Informatyka Stosowana</h2>

    <h3><a href="https://github.com/crvt7">GitHub</a></h3>

{% endblock middle %}